
$primary-text-color: #00897b;
$primary-dark-teal: #117a86; // same color as logo img
$primary-dark-bg-color: #282828;
$primary-bg-color: #363636;
$primary-light-bg-color: #969696;

* {
    --primary-text-color: #{$primary-text-color};
    --primary-dark-teal: #{$primary-dark-teal};
    --primary-dark-bg-color: #{$primary-dark-bg-color};
    --primary-bg-color: #{$primary-bg-color};
    --primary-light-bg-color: #{$primary-light-bg-color};
}








